* {
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: none;
}
li{
	cursor: pointer;
}
body{
  overflow: hidden;
}
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

#xxx {
	background: #fff;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

.actions {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
}
.actions svg {
	width: 1.5em;
	height: 1.5em;
	transition: all 0.3s;
	margin: 0 10px;
	cursor: pointer;
}
.actions svg.active {
	fill: red;
	transform: scale(1.2);
}

.colors {
	position: fixed;
	top: 60px;
	left: 27px;
}
.colors > li {
	width: 20px;
	height: 20px;
	margin: 10px 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	transition: all 0.3s;
}
.colors > li.black {
	background-color: black;
}
.colors > li.red {
	background-color: red;
}
.colors > li.green {
	background-color: green;
}
.colors > li.blue {
	background-color: blue;
}
.colors > li.active {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
	transform: scale(1.2);
}
.size {
  position: fixed;
  right: 20px;
  top: 20px;
}
.size > li{
	margin: 10px 0;
	padding: 10px 0;
}
.size > .thin{
  height: 0;
  width: 30px;
  border-top: 2px solid black
}
.size > .normal{
  height: 0;
  width: 30px;
  border-top: 4px solid black
}
.size > .thick{
  height: 0;
  width: 30px;
  border-top: 6px solid black
}